<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-0">
                <div class="ftr-links">
                    <h2>Links</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="product.html">Product</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="account.html">Account</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 p-0">
                <div class="nestletter">
                    <h2>Newsletter</h2>
                    <p>dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut alidolore magna aliqua. Ut enim ad minim ris nisi ut ali</p>
                    <form action="#">
                        <input type="text" name="" placeholder="Enter Email Address">
                        <button class="btn-ftr"><span><i class="far fa-arrow-right"></i></span> </button>
                    </form>
                </div>
                <div class="ftr-icons">
                    <h2>Payment</h2>
                    <ul>
                        <li><img src="images/visa.png" alt="img" /></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 p-0">
                <div class="ftr-icons">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 p-0">
                <div class="bottom-ftr">
                    <a href="index.html"><img src="images/logo.png" alt="img" /></a>
                    <p>
                        © 2026 Cake bliss, All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end  -->