<!-- header strat -->
<header>
    <div class="topSec">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-8 col-lg-9 col-md-10 col-sm-12 col-12">
                    <div class="top-bar-left">
                        <ul>
                            <li>
                                <a href=""><i class="fa-solid fa-envelope"></i> loremipsum@gmail.com</a>
                            </li>
                            <li>
                                <a href="tel:123-456-7890"><i class="fa-solid fa-phone-volume"></i> +123-456-7890</a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fa-solid fa-location-dot"></i> Lorem ipsum dolor
                                    sit amet conse.</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-9 col-md-2 col-sm-12 col-12">
                    <div class="top-bar-right">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menuSection">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="header-logo">
                        <a href="index.html"><img src="images/logo.png" alt="img" /></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-block">
                    <div class="menuSec">
                        <ul id="menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li>
                                <a href="product.html">Product</a>
                                <i class="fa-solid fa-chevron-down"></i>
                                <ul>
                                    <li><a href="product.html">Cake</a></li>
                                    <li><a href="product.html">Donuts</a></li>
                                    <li><a href="product.html">Cup Cake</a></li>
                                    <li><a href="product.html">Zinger Burger</a></li>
                                    <li><a href="product.html">Pizza</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 text-right">
                    <div class="header-right-box">
                        <ul>
                            <li>
                                <a class="header-cart-btn" id="searchIcon" href="javascript:void(0)">
                                    <i class="fa-regular fa-magnifying-glass"></i>
                                </a>
                            </li>
                            <li><a class="header-requst-btn" href="tel:01234567890"><i
                                        class="fa-light fa-phone"></i></a>
                            </li>
                            <li><a class="header-requst-btn" href="account.html"><i class="fa-light fa-user"></i></a>
                            </li>
                            <li><a class="header-requst-btn" href=""><i class="fa-regular fa-basket-shopping"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header strat -->
<!-- Search Popup -->
<div id="searchPopup" class="search-popup">
    <div class="search-box">
        <input type="text" placeholder="Search here..." class="search-input" />
        <button class="search-btn">Search</button>
        <span class="close-btn" id="closeSearch"><i class="fa-solid fa-xmark"></i></span>
    </div>
</div>

<script>

    const searchIcon = document.getElementById("searchIcon");
    const searchPopup = document.getElementById("searchPopup");
    const closeSearch = document.getElementById("closeSearch");

    // open popup
    searchIcon.addEventListener("click", () => {
        searchPopup.style.display = "flex";
    });

    // close popup
    closeSearch.addEventListener("click", () => {
        searchPopup.style.display = "none";
    });

    // close when clicking outside box
    window.addEventListener("click", (e) => {
        if (e.target === searchPopup) {
            searchPopup.style.display = "none";
        }
    });

</script>